<%- include('partials/header.ejs') %>
<div>
    <form action="/quotes" method="POST">
        <label for="quote">Quote:</label><br>
        <textarea id="quote" name="quote" rows="4" cols="50" required></textarea><br>

        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" required><br>

        <button type="submit">Submit</button>
    </form>
</div>

<% if (locals.quote || locals.author) { %>
    <div class="container quote-card">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">
                    <%= quote %>
                </h1>
                <p class="lead my-3">
                    <%= quote %>
                </p>
                <p class="lead mb-0">
                    <%=	author %>
                </p>
            </div>
        </div>
    </div>
    <% } else { %>

    <% } %>

<%- include('partials/footer.ejs') %>